*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    background-color: #f5f5f5;
}

.header-section-wrapper{
    background-color: #fff;
    width: 100%;
    height: 64px;
    padding: 0px 20px;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
}

.left-header-section{
    width: 50%;
    height: 100%;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
}

.right-header-section{
    width: 50%;
    height: 100%;
}

.header-section-logo{
    width: 64px;
    height: 64px;

    img{
        width: 100%;
    }
}

.header-section-title{
    margin-left: 10px;
}

.navbar-section-wrapper{
    height: 100%;
}

.navbar-section-wrapper-items{
    width: 100%;
    height: 100%;
    list-style-type: none;
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-end;
    align-items: center;
    padding-right: 40px;

    li{
        flex-basis: 14%;
        text-align: center;
    }
    
    & li:last-child{
        background-color: #eee;
        display: inline-flex;
        height: 100%;
        justify-content: center;
        align-items: center;
    }

    a{
        text-decoration: none;
        color: #666;
        text-align: center;
    }
}


.landing-section-wrapper{
    padding: 0px 100px;

    width: 100%;
    height: 169px;
    display: flex;
    flex-flow: row;
    justify-content: flex-start;
    align-items: center;
    background: url(contact-header-bg.png);
    background-position: top right;
    background-repeat: no-repeat;
    
    h1{
        color: #666;
        font-weight: 300;
        text-align: center;
        font-size: 64px;
    }
}

.contact-us-section-wrapper{
    width: 100%;
    padding: 0px 70px;
}

.contact-us-section-wrapper-items{
    width: 100%;
    background-color: #fff;
    display: flex;
    flex-flow: row nowrap;
    padding: 50px;
}

.contact-us-left-section-wrapper{
    width: 35%;
}

.contact-us-right-section-wrapper{
    width: 65%;
    border-left: 2px solid #f5f5f5;
    display: flex;
    flex-direction: column;
    padding: 10px 30px;
    
    div{
        width: 100%;
        display: flex;
        flex-flow: column;

        margin-bottom: 20px;
    }

    label{
        color: #666;
        font-size: 16px;
        font-weight: 700;
        margin-bottom: 20px;
    }

    textarea{
        width: 100%;
        height: 150px;
        border: none;
        border-bottom: 2px solid #e7e7e7;
        outline: none;
        padding: 5px;
        font-size: 16px;
    }


    input{
        border: none;
        border-bottom: 2px solid #e7e7e7;
        outline: none;
        padding: 5px;
        font-size: 16px;
    }

    p{
        margin-top: 10px;
        color: #666;
    }

    .Send-button{
        input{
            background-color: #fff;
            box-shadow: 2px 1px rgba(0, 0, 0, 0.14), -2px -1px rgba(0, 0, 0, 0.14);
            width: 23%;
            padding: 12px;
            color: #666;
            font-weight: 300;
            text-transform: uppercase;
        }
    }
}


